<ion-header [translucent]="true">
  <ion-toolbar>
   
      <div class="ion-text-end">
    <!-- <ion-button (click)="presentActionSheet()">Open </ion-button> -->
    <ion-button
      slot="end"
      expand="outline"
      color="transparent"
      (click)="closeSesion()"    >
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  
   @for (user of users(); track $index) {
  <ion-item>
    {{ user.names}}
   
    <ion-button
      color="warning"
      slot="end"
      type="button"
      (click)="updateUser(user)"
    >
      <ion-icon name="open-outline"></ion-icon> Actualizar
    </ion-button>
   
  </ion-item>
  }
</ion-content>
