<ion-header [translucent]="true">
  <ion-toolbar>
   
      <div class="ion-text-end">
    <!-- <ion-button (click)="presentActionSheet()">Open </ion-button> -->
    <ion-button
      slot="end"
      expand="outline"
      color="transparent"
      (click)="closeSesion()"    >
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
